.section {
    position: relative;
    height: 3000px;
    width: 100%;
    padding: 30px;

    background: linear-gradient(0deg, #D0BFFF, #5F3DC4);
}

#header {
    width: 100%;
    text-align: center;
}

#header h1 {
    font-size: 60px;
    padding-top: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

#header h3 {
    font-size: 20px;
    padding-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200px;
}

#videoContainer {
    position: relative;
    width: 100%;
    height: 54vw;
    margin-top: 50px;
}

#videoBackground {
    z-index: 2;
    position: relative;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
}

#video {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
}

#textBlock {
    position: absolute;
    color: #fff;
    top: 0px;
    z-index: -2;
    height: 100%;
    padding: 2vw 0px 2vw 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textBlockTitle {
    font-size: calc(20px + 1vw);
}

.textBlockSubTitle {
    font-size: calc(15px + 0.6vw);
}